extends layout 
 
block content 
  h1= title 
 
  form(id='dishForm', action="/resource/italianDish", method="POST") 
    div.form-group 
        label.italianDishAttr(for='dishName') Dish Name 
        input#costume_type(type='text', name='DishName') 
    div.form-group 
        label.italianDishAttr(for='dishPrice') Dish Price 
        input#size(type='number', name='dishPrice', step='any') 
    div.form-group 
        label.italianDishAttr(for='mainIngredient') Main Ingredient
        input#cost(type='text', name='mainIngredient') 
    input(type="submit") 
 
  script. 
    document.forms['dishForm'].addEventListener('submit', (event) => { 
      event.preventDefault(); 
      // TODO do something here to show user that form is being submitted 
      fetch(event.target.action, { 
        method: 'POST', 
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Save succeded") 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Save failed " + error ) 
      }); 
    }); 